.recipe-detail-wrapper {
  padding: 70px 50px;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
}
.recipe-details {
  border-radius: 6px;
  padding: 50px;
  display: flex;
  justify-content: space-around;
}
.thumb .image-wrapper img {
  width: 500px;
}
.headings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headings p {
  font-weight: bold;
  font-size: 18px;
}
.ingredients {
  margin-left: 100px;
  width: 300px;
  font-size: 18px;
}
.ingredients li {
  margin-top: 4px;
}
.instructions {
  margin-left: 20px;
  width: 700px;
  font-size: 17px;
}

@media only screen and (max-width: 600px) {
  .recipe-detail-wrapper {
    padding: 30px 20px;
  }
  .recipe-details {
    flex-direction: column;
    padding: 10px;
  }
  .thumb .image-wrapper img {
    width: 100%;
  }
  .headings h2 {
    font-size: 15px;
  }
  .headings p {
    font-weight: bold;
    font-size: 12px;
  }
  .ingredients {
    margin: 0;
    padding: 5px 50px;
  }
  .instructions {
    margin: 0px;
    margin-top: 5px;
    padding: 10px;
    font-size: 17px;
    width: 100%;
    font-size: 17px;
  }
}
