.showside-wrapper {
  border-radius: 6px;
  padding: 20px 50px;
  grid-column: 5 / span 8;
  grid-row: 1/8;
}
.recipes-wrapper {
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
}
.recipe-card {
  width: 30%;
  margin-bottom: 20px;
}
.recipe-card p {
  text-align: center;
  font-size: 18px;
}

.pagination-part {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.pagination-part p {
  font-size: 16px;
  padding-bottom: 2px;
}
.img-wrapper img {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .showside-wrapper {
    padding: 20px 10px;
  }
  .recipe-card {
    width: 90%;
    margin-left: 5%;
  }
}
