/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}
.App {
  padding: 50px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  margin-bottom: 25px;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
  outline: none;
}
.btn {
  border-radius: 6px;
  width: 100px;
  height: 40px;
  margin-left: 70%;
  background-color: skyblue;
}
.btn:hover {
  background-color: royalblue;
}
